<div class="container-fluid bg-dark">

    <div class="row py-2 px-lg-5">

        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">

            <div class="d-inline-flex align-items-center text-white">

                <small><i class="fa fa-phone-alt mr-2"></i>+91 9867431211</small>

                <small class="px-3">|</small>

                <small><i class="fa fa-envelope mr-2"></i>info@example.com</small>

            </div>

        </div>

        <div class="col-lg-6 text-center text-lg-right">

            <div class="d-inline-flex align-items-center">

                <a class="text-white px-2" href="">

                    <i class="fab fa-facebook-f"></i>

                </a>

                <a class="text-white px-2" href="">

                    <i class="fab fa-twitter"></i>

                </a>

                <a class="text-white px-2" href="">

                    <i class="fab fa-linkedin-in"></i>

                </a>

                <a class="text-white px-2" href="">

                    <i class="fab fa-instagram"></i>

                </a>

                <a class="text-white pl-2" href="">

                    <i class="fab fa-youtube"></i>

                </a>

            </div>

        </div>

    </div>

</div>

<!-- Topbar End -->



<!-- Navbar Start -->

<div class="container-fluid p-0">

    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">

        <a href="index.html" class="navbar-brand ml-lg-3">

            <h1 class="m-0 text-uppercase text-primary">

                <i class="fa fa-book-reader mr-3"></i>EDUKIT

            </h1>

        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">

            <div class="navbar-nav mx-auto py-0">

                
                <a class="nav-link" [routerLink]="['/adminhome']">Home</a>  

                <a class="nav-link" [routerLink]="['/courseregister']">Course Register</a>

                <a class="nav-link" [routerLink]="['/futurecourse']">Future Courses</a>
                <a class="nav-link" [routerLink]="['/addcollege']">Colleges</a>

            </div>

        </div>

    </nav>

</div>

<!-- Navbar End -->



<!-- form -->

<div class="jumbotron jumbotron-fluid page-header position-relative overlay-bottom" style="margin-bottom: 90px">

    <div style="width: 800px; margin: 0 auto">

        <form [formGroup]="CollegeRegisterForm" class="container text-center" style="width: 80%; margin: 0 auto">
            <div *ngIf="FutureCourses">
                <select (change)="SelectedCourse($event)" class="coursedrop" style="margin-bottom: 10px"  name="course" required>
                    <option value="0">--Select Course--</option>  
                    <option *ngFor="let course of FutureCourses" value="{{course.futureCoursename}}">{{course.futureCoursename}}</option>

                </select>
            </div>      
            <br />

            <input class="form-control" style="margin-bottom: 10px"  placeholder="College Name" formControlName="CollegeName" required />
            <input class="form-control"  placeholder="Total Seats" formControlName="SeatsAvailable" required>
            <input class="form-control"  placeholder="University" formControlName="University" required>
            <input class="form-control"  placeholder="District" formControlName="District" required>
            <input class="form-control"  placeholder="Address" formControlName="Address" required>

            <br />

            <button type="submit" (click)="OnSubmit()"  class="btn btn-primary">Add</button>

        </form>

    </div>
    <div style="margin: 50px;text-align: center;">
        <label class="text-white"><b style="font-size: 25px;">Filter By</b></label>
        <select (change)="GetSelectedFilteredType($event)" name="course"
            class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="margin:50px;width: 450px;text-align: center;">
            <option value="0">--Select Type--</option>
            <option value="CourseName">Course</option>
            <option value="University">University</option>
            <option value="District">District</option>
            <!-- <option *ngFor="let course of CourseName" value="{{course.courseId}}">{{course.courseName}}
            </option> -->
        </select>
    </div>

    <div *ngIf="filterDisplayLabel" style="margin: 20px;text-align: center;">
        <select (change)="GetFilteredColleges($event)" name="course"
            class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="margin:50px;width: 450px;text-align: center;">
            <option value="0">--Select any {{filterDisplayLabel}}--</option>
            <option *ngFor="let lists of filterTypeResult" value="{{lists}}">{{lists}}</option>
            <!-- <option *ngFor="let course of CourseName" value="{{course.courseId}}">{{course.courseName}}
            </option> -->
        </select>
    </div>

    <div >
        <diV style="margin:200px;width:500px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-top: 20px;">
            <h1 class="text-white" style="width:1000px;text-align: center;"> College List</h1>
            <table class="table" style="margin: left;width: 100%;color: #000;background-color: whitesmoke;border: 1px;">

                <tr>
                    <th>SL No</th>
                    <th>College Id</th>
                    <th>Course Name</th>
                    <th>College Name</th>
                    <th>Seats Available</th>
                    <th>University</th>
                    <th>District</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>



                <tr *ngFor="let college of CollegeDetails let i=index">

                    <td> {{i+1}} </td>
                    <td> {{college.collegeId}} </td>
                    <td> {{college.courseName}} </td>
                    <td> {{college.collegeName}} </td>
                    <td> {{college.seatsAvailable}} </td>
                    <td> {{college.university}} </td>
                    <td> {{college.district}} </td>
                    <td> {{college.address}} </td>
                    <td><a [routerLink]="['/editcolleges',college.collegeId]">Edit</a></td>
                    <td><a [routerLink]="['/deletecolleges',college.collegeId]" (click)="deleteCollege()">Delete</a></td>

                </tr>



                


            </table>



        </diV>
    </div>

</div>