<div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">



    <div class="container text-center my-5 py-5">



        <h1 class="text-white mt-4 mb-4">Learn From Edukit</h1>



        <h1 class="text-white display-1 mb-5">Course Details</h1>

            <form [formGroup]="EditCollegeForm"  class="container text-center py-5" style="align-items: center; align-content: center;">
                    <input class="form-control" formControlName="CourseName"  aria-describedby="emailHelp" placeholder="Courses"> 
                <input class="form-control" style="margin-bottom: 10px"  placeholder="College Name" formControlName="CollegeName" />
                <input class="form-control"  placeholder="Total Seats" formControlName="SeatsAvailable">
                <input class="form-control"  placeholder="University" formControlName="University">
                <input class="form-control"  placeholder="District" formControlName="District">
                <input class="form-control"  placeholder="Address" formControlName="Address">

                <br>
                <button type="submit" (click)="OnSubmit()" class="btn btn-primary">Edit</button>
                
            </form>


    </div>



</div>

